<!DOCTYPE html>
<html ng-app="CardApp">

<head>
    <meta charset="utf-8">
    <title>Карточка продукта</title>
    <script src="libs/angular-1.5.3/angular.js"></script>
</head>

<body ng-controller="CardBookCtrl">

<ul>
    <li>
        <h3>{{book.name | uppercase}}</h3>
        <p>{{book.author}}</p>
        <p>{{'Жанр: ' + book.genre}}</p>
        <p>{{'ISDN: ' + book.id}}</p>
        <p ng-show="book.inStock">{{'Есть на складе '}}</p>
        <p>Страниц:
            {{book.pages}}, цена:
            {{book.price}}</p>
    </li>
</ul>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>

</html>
