<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 6 / Фреймворк AngularJS / Нетология</title>
        <script src="libs/angular-1.5.3/angular.js"></script>
    </head>

    <body ng-controller="BookListCtrl">

        Найти:
        <input ng-model="query"><br><br>

        Сортировать по:
        <select ng-model="orderProperty">
            <option value="name">Названию</option>
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
            <option value="genre">Жанру</option>
        </select>

        <ul>
            <li ng-repeat="book in books | filter:query | orderBy:orderProperty">
                <h3 ng-click="showCard(book)">{{book.name | uppercase}}</h3>
                <p>{{book.author}}</p>
                <p>{{'Жанр: ' + book.genre}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price}}</p>
            </li>
        </ul>

        <p ng-show="query">
            Выведены книги, содержащие
            {{query}}
        </p>

        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>

    </body>

</html>
